/* Colors */

$white-text: #fff;
$react: #00d8ff;
$no-active: #6d6b6e;
$active: #e0edf0;
$text-color: #e0edf0;
$section-title-color: #282c34;
$background: #20232a;

/* Fonts */

$Roboto: "Roboto", sans-serif;
$Lato: "Lato", sans-serif;

$light: 300;
$Regular: 400;
$Medium: 700;

/*title*/

$h1: 29px;
$h2: 28px;
$h3: 21px;
$h4: 18px;
$h5: 15px;
// $h6: 14px;

/*text*/

$font-text: 14px;
